<div class="flex items-center justify-center h-full">
    <div class="text-center w-4/5">
        <!-- Contenu 1 -->
        <div>
            <p class="text-lg font-semibold text-custom-yellow leading-tight">
                Find out how much you can earn on average per day with your property
            </p>
            <div class="mt-4">
                <hr class="border-t-2 border-blue-600 w-full mx-auto">
            </div>
            <div class="p-4 max-w-lg mx-auto">
                <h2 class="text-2xl font-semibold mb-5">Estimated Revenue</h2>
                <p class="text-xl">{{ estimatedRevenue }} AED</p>
            </div>
            <!-- Message d'erreur -->
            <p *ngIf="showError" class="text-red-500">
                Veuillez remplir tous les champs du formulaire.
            </p>
            <!-- Bouton More Details -->
            <button (click)="navigateToPayment()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                More Details
            </button>
        </div>
    </div>
</div>